$023020, , , , , , , , , , , , , , , , , , , , ,*2F
$024020, , , , , , , , , , , , , , , , , , , , ,*28
$025020, , , , , , , , , , , , , , , , , , , , ,*29
$026020, , , , , , , , , , , , , , , , , , , , ,*2A
$027020, , , , , , , , , , , , , , , , , , , , ,*2B
$028020, , , , , , , , , , , , , , , , , , , , ,*24
$029020, , , , , , , , , , , , , , , , , , , , ,*25
$030020, , , , , , , , , , , , , , , , , , , , ,*2D
$031020, , , , , , , , , , , , , , , , , , , , ,*2C
$032020, , , , , , , , , , , , , , , , , , , , ,*2F
$033020, , , , , , , , , , , , , , , , , , , , ,*2E
$034020, , , , , , , , , , , , , , , , , , , , ,*29
$035020, , , , , , , , , , , , , , , , , , , , ,*28
$036020, , , , , , , , , , , , , , , , , , , , ,*2B
$037020, , , , , , , , , , , , , , , , , , , , ,*2A
$000012, , , , , , , , , , , , ,*2F
$023020, , , , , , , , , , , , , , , , , , , , ,*2F
$024020, , , , , , , , , , , , , , , , , , , , ,*28
$025020, , , , , , , , , , , , , , , , , , , , ,*29
$026020, , , , , , , , , , , , , , , , , , , , ,*2A
$027020, , , , , , , , , , , , , , , , , , , , ,*2B
$028020, , , , , , , , , , , , , , , , , , , , ,*24
$029020, , , , , , , , , , , , , , , , , , , , ,*25
$030020, , , , , , , , , , , , , , , , , , , , ,*2D
$031020, , , , , , , , , , , , , , , , , , , , ,*2C
$032020, , , , , , , , , , , , , , , , , , , , ,*2F
$033020, , , , , , , , , , , , , , , , , , , , ,*2E
$034020, , , , , , , , , , , , , , , , , , , , ,*29
$035020, , , , , , , , , , , , , , , , , , , , ,*28
$036020, , , , , , , , , , , , , , , , , , , , ,*2B
$037020, , , , , , , , , , , , , , , , , , , , ,*2A
$000012, , , , , , , , , , , , ,*2F
$023020, , , , , , , , , , , , , , , , , , , , ,*2F
$024020, , , , , , , , , , , , , , , , , , , , ,*28
$025020, , , , , , , , , , , , , , , , , , , , ,*29
$026020, , , , , , , , , , , , , , , , , , , , ,*2A
$027020, , , , , , , , , , , , , , , , , , , , ,*2B
$028020, , , , , , , , , , , , , , , , , , , , ,*24
$029020, , , , , , , , , , , , , , , , , , , , ,*25
$030020, , , , , , , , , , , , , , , , , , , , ,*2D
$031020, , , , , , , , , , , , , , , , , , , , ,*2C
$032020, , , , , , , , , , , , , , , , , , , , ,*2F
$033020, , , , , , , , , , , , , , , , , , , , ,*2E
$034020, , , , , , , , , , , , , , , , , , , , ,*29
$035020, , , , , , , , , , , , , , , , , , , , ,*28
$036020, , , , , , , , , , , , , , , , , , , , ,*2B
$037020, , , , , , , , , , , , , , , , , , , , ,*2A
$000012, , , , , , , , , , , , ,*2F
$023020, , , , , , , , , , , , , , , , , , , , ,*2F
$024020, , , , , , , , , , , , , , , , , , , , ,*28
$025020, , , , , , , , , , , , , , , , , , , , ,*29
$026020, , , , , , , , , , , , , , , , , , , , ,*2A
$027020, , , , , , , , , , , , , , , , , , , , ,*2B
$028020, , , , , , , , , , , , , , , , , , , , ,*24
$029020, , , , , , , , , , , , , , , , , , , , ,*25
$030020, , , , , , , , , , , , , , , , , , , , ,*2D
$031020, , , , , , , , , , , , , , , , , , , , ,*2C
$032020, , , , , , , , , , , , , , , , , , , , ,*2F
$033020, , , , , , , , , , , , , , , , , , , , ,*2E
$034020, , , , , , , , , , , , , , , , , , , , ,*29
$035020, , , , , , , , , , , , , , , , , , , , ,*28
$036020, , , , , , , , , , , , , , , , , , , , ,*2B
$037020, , , , , , , , , , , , , , , , , , , , ,*2A
$000012, , , , , , , , , , , , ,*2F